# ------------------ IDE ------------------
.idea/
*.iml
.vscode/

# ------------------ 依赖与编译产物 ------------------
node_modules/
dist/

# ------------------ 系统与日志 ------------------
*.log
.DS_Store
Thumbs.db

# ------------------ 环境与敏感文件 ------------------
.env
.env.local
.env.*.local